#ProductFinder-client
ProductFinder-client/node_modules
ProductFinder-client/coverage
ProductFinder-client/build

#ProductFinder-server
ProductFinder-server/node_modules
ProductFinder-server/mongodb

#ProductFinder-lambda
ProductFinder-lambda/node_modules
